<h1>New Artist</h1>

<form method="POST" action="/artists">
    <label for="artist[name]">Name</label>
    <input type="string" name="artist[name]">
    <br>
    <br>
    <label for="artist[age]">Age</label>
    <input type="number" name="artist[age]">
    <br>
    <br>
    <label for="artist[bio]">Bio</label>
    <input type="string" name="artist[bio]">
    <br>
    <br>
    <input type="submit" value="Create artist">
</form>